* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: whitesmoke;
    color: steelblue;
    font-family: 'Genos', sans-serif;
    font-weight: bold;
    text-align: center;
}

header {
    background-color: linear-gradient(to bottom, rgba(192, 192, 192, 0.65), rgba(192, 192, 192, 0.45), rgba(192, 192, 192, 0.1));
    padding: 10px;
}

h1 {
    font-size: 2rem;
    color: ivory;
    text-shadow: 2px 2px slategray;
}

#botao_menu {
    width: 20px;
}

.menu ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: dimgray;
    font-size: 1.25rem;
    display: block;
}

.ativo {
    background-color: lightgray;
    border-radius: 10px;
}

main {
    margin: 20px auto;
}

h3 {
    color: darkblue;
    padding: 2rem;
}

img {
    width: 100%;
}

#foto_principal {
    width: 50%;
    padding: 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lightgray;
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
}

.foto_progr {
    width: 40%;
    margin: 20px auto;
    filter: drop-shadow(4px 4px white);
}

.texto_progr {
    font-size: 1.25rem;
    padding: 5px;
}

h2 {
    color: white;
    text-shadow: 1px 1px steelblue;
}

.texto_progr ul {
    display: inline-block;
    margin: 10px 20px;
    padding: 10px;
    text-align: left;
}

.texto_progr li {
    padding: 5px;
    color: steelblue;
}

.fotos .container {
    padding: 10px;
    background-image: url(/imagens/fundo_azul.jpg);
}

.fotos .container img {
    border-radius: 15%;
    padding: 20px;
    width: 80%;
}

@media (min-width:768px) {
    header {
        padding-bottom: 30px;
    }

    h1 {
        font-size: 2.5rem;
    }

    #botao_menu {
        display: none;
    }

    .menu ul{
        list-style-type: none;
        padding: 5px;
    }

    .menu li {
        width: 33.3%;
        float: left;
    }

    .menu li:hover {
        background-color: rgba(30, 144, 255, 0.25);
        border-radius: 10px;
    }

    #foto_principal {
        width: 30%;
    }

    .container {
        flex-wrap: wrap;
    }

    .foto_progr {
        padding: 15px;
        width: 10%;
        margin: 5px auto;
    }

    .texto_progr {
        font-size: 1.1rem;
        padding: 15px;
        width: 80%;
    }

    .fotos .container {
        flex-wrap: wrap;
    }

    .fotos .container img {
        width: 20%;
        filter: grayscale(80%);
    }

    .fotos img:hover {
        filter: none;
    }
}